@font-face {
  font-family: "star warse", sans-serif;
  src: url(../fonts/AnyConv.com__STARWARS.woff2);
  font-weight: 400;
  font-display: swap;
}
.body-background {
  font-family: star warse, sans-serif;
  background-color: black;
  width: auto;
  perspective: 4000px;
}
.container {
  width: 30%;
  height: 3500px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  transform-origin: left 300px 0px;
  transform: rotateX(60deg);
  overflow: hidden;
}
.container-list {
  padding: 0;
  margin: 0;
  list-style: none;
  animation: star-warse 30s linear infinite backwards;
  width: 100%;
}
.conteiner-title {
  color: #ffda33;
  font-size: 4vh;

  line-height: 2;
}

.subtitle {
  text-transform: uppercase;
  text-align: center;
}
.text-item {
  text-align: justify;
}

@keyframes star-warse {
  0% {
    transform: translatey(120%);
  }
  100% {
    transform: translatey(-100%);
  }
}
